<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>非常抱歉，您访问的页面不存在。</title>
<style type="text/css">
body,h1,h2,dl,dt,dd{margin:0;padding:0; font-size:100%;}
a {text-decoration:none;color:#0069ca;}
body{ text-align:center;}
a:hover {text-decoration:none;color:#f60;}
.error{ margin:90px auto 0; text-align:left; width:480px;}
.error h1{ margin-bottom:20px;}
.error h1 a { background: url("http://source.qunar.com/site/images/2011/qn.header.png") no-repeat 0 -8px ; display: block; height: 52px;}
.error h1 a span{ display:none;}
.error h2{ margin-bottom:20px; font-size:16px; line-height:1.5; }
.error dl{ font-size:12px; line-height:24px; }
.error dl dt{ margin-bottom:8px; }
.error dl dd a{ margin: 0 8px; }
.error dl dd a.back { margin:0; }
</style>
</head>
<body>
<div class="error">
    <h1><a title="“去哪儿”旅游搜索引擎" hidefocus="on" target="_top" href="http://www.qunar.com/"><span>“去哪儿”旅游搜索引擎</span></a></h1>
    <h2>非常抱歉，您访问的页面不存在。</h2>
    <dl>
        <dt>您可以：</dt>
        <dd>1. <a href="javascript:history.go(-1);" class="back">返回至刚才的页面</a>。</dd>
        <dd>2. 直接查看：<a href="http://flight.qunar.com/" title="机票">机票</a>|<a href="http://hotel.qunar.com/" title="酒店">酒店</a>|<a href="http://tuan.qunar.com/" title="团购">团购</a>|<a href="http://package.qunar.com/" title="度假">度假</a>|<a href="http://train.qunar.com/" title="火车票">火车票</a>|<a href="http://travel.qunar.com/" title="攻略">攻略</a>|<a href="http://lvtu.qunar.com/" title="旅图">旅图</a>|<a href="http://piao.qunar.com/" title="门票">门票</a></dd>
    </dl>
</div>
</body>
</html>
